
*.bag

*.pyc

venv/

\.idea/

*.png

*.h5

*.pickle

*.ods#

*.pdf

*.svg

*.csv

*.mp4

code/\.ipynb_checkpoints/

*.avi

*.active

code/__init__\.py

scripts/\.ipynb_checkpoints/

scripts/__init__\.py

*.npy

\.ipynb_checkpoints/

GAT/data/

MoNet/data_mnist/\.DS_Store

GAT/CORA_GCN\.ipynb

MoNet/ChebNet\.ipynb

GAT/utils/__init__\.py
